html {
	background-image: url(/images/sonic.png);
	background-repeat: repeat;
}

th {
	background-color: #FFFFFF;
	font-size: 1em;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
}

.imgDiv {
  margin: 25px 25px 25px;
}

body { margin: 20px; }

.marquee {
	background-color: #FFFFFF;
	--space: 4vw;
	
	font-size: 2vw;
	white-space: nowrap;
	animation: marquee 5s linear infinite;
	padding-left: var(--space);
	&:after{
		content: attr(data-text);
		padding-left: var(--space);
	}
}	


@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}